---
import LinkedInIcon from "@components/icons/LinkedInIcon.astro";
import GithubIcon from "@components/icons/GithubIcon.astro";
import EmailIcon from "@components/icons/EmailIcon.astro";
import FooterAuthor from "@components/layout/footer/FooterAuthor.svelte";
import { translate } from "@stores/i18nStore";
import {
  footerSectionList,
  iconsList,
  languageList,
} from "@static/footerItems";

const t = translate.get();
---

<footer class="jm-footer">
  <div class="jm-footer__container">
    <div class="jm-footer__content flex-wrap md:flex-nowrap">
      {
        footerSectionList.map((section) => (
          <div class="jm-footer__section">
            <h3>{t(section.title)}</h3>
            <ul class="jm-footer__section-list">
              {section.dataList.map((item) =>
                item.href != null ? (
                  <li class="jm-footer__section-list-item">
                    <a href={item.href}>{t(item.title)}</a>
                  </li>
                ) : (
                  <li>{t(item.title)}</li>
                ),
              )}
            </ul>
          </div>
        ))
      }
    </div>
    <div class="jm-footer__icons-section">
      <ul class="jm-footer__contact-list">
        {
          iconsList.map((iconItem) => (
            <li class="jm-footer__contact-list-item">
              <a href={iconItem.href} target="_blank">
                {iconItem.iconName === "linkedin" ? (
                  <LinkedInIcon size={iconItem.size} />
                ) : iconItem.iconName === "email" ? (
                  <EmailIcon size={iconItem.size} />
                ) : (
                  <GithubIcon size={iconItem.size} />
                )}
              </a>
            </li>
          ))
        }
      </ul>
      <ul class="jm-footer__language-list">
        {
          languageList.map((item) => (
            <li class="jm-footer__language-list-item">
              <a href={item.href}>
                <img src={item.src} alt={item.alt} />
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <FooterAuthor />
  </div>
</footer>

<style>
  .jm-footer {
    @apply w-full text-white p-8 flex justify-center;
    background: rgb(0, 8, 15);
    background: linear-gradient(
      90deg,
      rgba(0, 8, 15, 1) 0%,
      rgba(0, 34, 64, 1) 90%
    );
  }

  .jm-footer__container {
    @apply w-full max-w-6xl flex flex-col py-24;
  }

  .jm-footer__content {
    @apply w-full justify-between;
    @apply font-normal text-base w-full flex self-center gap-16;
  }

  .jm-footer__section {
    @apply w-full flex flex-col;
  }

  .jm-footer__section-list {
    @apply flex flex-col gap-6;
  }

  .jm-footer__icons-section {
    @apply w-full flex flex-col md:flex-row justify-between mt-20 gap-8 ml-2;
  }

  .jm-footer__contact-list {
    @apply flex flex-row gap-4;
  }

  .jm-footer__contact-list-item {
    @apply flex text-gray-400 cursor-pointer;
  }

  .jm-footer__contact-list-item:hover {
    @apply text-gray-100;
  }

  .jm-footer__contact-list-item > a {
    @apply p-4 bg-gray-800 rounded-full;
  }

  .jm-footer__language-list {
    @apply flex flex-row gap-4 mr-16 ml-2;
  }

  .jm-footer__language-list-item {
    @apply flex w-6 h-6 object-cover;
  }

  a:hover {
    @apply underline;
  }

  h3 {
    @apply text-2xl font-semibold mb-10;
  }

  .jm-footer__section-list-item {
    list-style: url("/src/images/arrow.svg") outside;
    margin-left: 1.5rem;
  }
</style>
