---
import ImageLogo from "../../../icons/ImageLogo.astro";
const props = Astro.props;
const { icon, title, date, certificate } = props.data;
---

<article class="flex flex-row">
  {
    icon != null ? (
      <ImageLogo
        src={icon.src}
        alt={icon.alt}
        classes={["mr-3", icon.classes]}
      />
    ) : (
      <Fragment />
    )
  }
  <div class="jm-path-studies-card__container">
    <div class="jm-path-studies-card__header">
      <h3>{title}</h3>
    </div>
    <div class="jm-path-studies-card__content">
      <h4 class="flex gap-1">{date}&nbsp;{certificate}</h4>
    </div>
  </div>
</article>

<style>
  .jm-path-studies-card__header > h3 {
    @apply font-bold;
    font-size: 1.33rem;
  }

  .jm-path-studies-card__content > h4 {
    @apply text-lg font-semibold;
  }
</style>
