---
import ImageLogo from "../../icons/ImageLogo.astro";
const props = Astro.props;
const { icon, dateRange, title, location, description } = props.data;
---

<div class="jm-path-experience-card">
  {
    icon != null ? (
      <ImageLogo
        src={icon.src}
        alt={icon.alt}
        classes={["mr-2", icon.classes]}
      />
    ) : (
      <Fragment />
    )
  }
  <div class="jm-path-experience-card__container">
    <div class="jm-path-experience-card__header">
      <span>{dateRange}</span>
      <h3>{title}</h3>
    </div>
    <div class="jm-path-experience-card__content">
      <h4>{location}</h4>
      <p>{description}</p>
    </div>
  </div>
</div>

<style>
  .jm-path-experience-card {
    @apply flex flex-row;
  }
</style>
