---
import IconData from "@types/IconData";
import GithubIcon from "@components/icons/GithubIcon.astro";
import PlayIcon from "@components/icons/PlayIcon.astro";
import SeeMoreIcon from "@components/icons/SeeMoreIcon.astro";
import Tooltip from "@components/shared/Tooltip.astro";
const props = Astro.props;

const {
  src,
  alt,
  classes = "",
  title,
  subtitle,
  pathTech = [],
  hasGithub,
  hasInfo,
  hasDemo,
} = props.data;
---

<div class="jm-card">
  <img src={src} alt={alt} class="object-cover" class:list={classes} />
  <div class="jm-card__bg"></div>
  <div class="jm-card__content">
    <h3>{title}</h3>
    <p>{subtitle}</p>
    <ul class="flex flex-row items-center rounded-full bg-gray-700 p-2 mt-2">
      {
        pathTech.map((img: IconData) => (
          <li>
            <div>
              <img src={img.src} alt={img.alt} class="w-5 mx-2" />
            </div>
          </li>
        ))
      }
    </ul>
    <div class="flex flex-row justify-around items-center gap-8 mt-6">
      {
        !hasGithub ? (
          <Fragment />
        ) : (
          <Tooltip message="Github">
            <button class="bg-gray-100 rounded-full p-1 hover:opacity-75">
              <GithubIcon />
            </button>
          </Tooltip>
        )
      }
      {
        !hasDemo ? (
          <Fragment />
        ) : (
          <Tooltip message="Play demo">
            <button class="bg-gray-100 rounded-full p-1 hover:opacity-75">
              <PlayIcon />
            </button>
          </Tooltip>
        )
      }

      {
        !hasInfo ? (
          <Fragment />
        ) : (
          <Tooltip message="See more">
            <button class="bg-gray-100 rounded-full p-1 hover:opacity-75">
              <SeeMoreIcon />
            </button>
          </Tooltip>
        )
      }
    </div>
  </div>
</div>

<style>
  .jm-card {
    @apply w-full border border-gray-900 relative flex justify-center;
  }

  .jm-card__content {
    @apply w-full h-full top-0 left-0 absolute px-4 flex flex-col justify-center items-center text-center z-20 gap-1;
    @apply invisible opacity-0 transition duration-200;
  }

  .jm-card__bg {
    @apply w-full h-full absolute top-0 left-0 bg-primary-500 z-10;
    @apply invisible opacity-0 transition duration-200;
  }

  @screen md {
    .jm-card__content {
      @apply px-16;
    }
  }

  .jm-card__content > h3 {
    @apply text-white font-semibold text-lg;
  }

  .jm-card__content > p {
    @apply text-white font-normal text-base;
  }

  .jm-card:hover > .jm-card__bg {
    @apply visible opacity-80;
  }

  .jm-card:hover > .jm-card__content {
    @apply visible opacity-100;
  }
</style>
